@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #231942;
  --secondary: #5e548e;
  --success: #10B981;
  --text: #1F2937;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    
    --primary: 219 89% 54%;
    --secondary: 259 81% 59%;
    --success: 160 84% 39%;
    --text: 213 19% 18%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
  }

  code {
    font-family: var(--font-geist-mono), monospace;
  }
}